extends layout

block content
  div.jumbotron.my-3
    h1.display-4 Lattendance
    p.lead 研究室の出欠機能を簡単に。
  if user
    div
      a(href="/schedules/new").btn.btn-info 予定を作る
    h3.my-3 <strong>#{user.username}</strong>さんの作った予定一覧
