extends layout

block content
  div.card.text-center.my-3
    div.card-body
      h2 ログイン
      p お持ちのGitHubアカウントでログインしてください。
      p アカウントをお持ちでない場合も以下のリンク先で<br>アカウントを作成後、ログインしてください。
      a(href="/auth/github").btn.btn-dark 
        i.fab.fa-github 
        |
        | GitHubでログイン