extends layout

block content
  div.card.my-3
    div.card-body
      p.text-center SlackのIDが登録されていません。
      p.text-center SlackのIDを入力し、登録ボタンを押してください。
      p.text-center SlackのIDは自分のプロフィールを表示し、<br>「その他」→「メンバーIDをコピー」でコピーしたものを貼り付けてください。
      form(method="post", action="").my-3
        input(type="hidden" name="_csrf" value!=csrfToken)
        div.form-group
          p ユーザー名：#{user.username}
        div.form-group
          label(for="slackId") SlackのID：
          input(type="text" name="slackId").form-control
        button(type="submit").btn.btn-primary 登録